.buttonOne {
  width: 9em;
  background: transparent;
  border: 1px solid #33bfff;
  border-radius: 1em 0 1em 1em;
  margin: 0 auto;
  font-size: 0.85em;
  cursor: pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}

.buttonOne a {
  display: block;
  height: 100%;
  line-height: 2.2em;
  font-size: 1em;
  color:#34495e;
  text-decoration:none;
  transition:all .25s ease;
  z-index:2;
  position:relative;
}

.effOne {
  width:170px;
  height:70px;
  left:-170px;
  top: 0;
  background:#33bfff;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}

.buttonOne:hover .effOne {
  left:0;
}

.buttonOne:hover a {
  color:#fff;
}